/* 
 * Base Styles
 * Tailwind configuration and global resets.
 */
@import "tailwindcss";
@config "../../tailwind.config.js";

/* Global Styles */
body {
    background-color: #f0f2f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    /* Prevent text selection during drag */
}